# version: "3.9"

services:
  database:
    build: ./database
    container_name: database
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: appdb
    volumes:
      - db_data:/data/db
    networks:
      - backend_net

    # Healthcheck so backend waits for Mongo
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    restart: always
    depends_on:
      database:
        condition: service_healthy
    environment:
      DB_HOST: database
      DB_PORT: 27017
      DB_NAME: appdb
      DB_USER: root
      DB_PASS: password
    ports:
      - "5000:5000"   # optional; useful for testing in browser/Postman
    networks:
      - backend_net
      - frontend_net

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always

    # UI should wait until backend is started (not necessarily healthy)
    depends_on:
      - backend

    environment:
      REACT_APP_API_URL: http://backend:5000

    ports:
      - "8080:80"
    networks:
      - frontend_net

networks:
  backend_net:
  frontend_net:

volumes:
  db_data:

